<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="">
            <div class="card-body">
            <h5 class="card-title">Dogecoin (DOGE)</h5>
            
            <div class="card-text">
                Current value: 0,80$<br/>
                Climb: 1.204,90%
            </div>
            <a href="detail/3" class="btn btn-primary">View details</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="">
            <div class="card-body">
            <h5 class="card-title">Dogecoin (DOGE)</h5>
            
            <div class="card-text">
                Current value: 0,80$<br/>
                Climb: 1.204,90%
            </div>
            <a href="#" class="btn btn-primary">View details</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="">
            <div class="card-body">
            <h5 class="card-title">Dogecoin (DOGE)</h5>
            
            <div class="card-text">
                Current value: 0,80$<br/>
                Climb: 1.204,90%
            </div>
            <a routerLink="detail/1" routerLinkActive="router-link-active" class="btn btn-primary">View details</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="">
            <div class="card-body">
            <h5 class="card-title">Dogecoin (DOGE)</h5>
            
            <div class="card-text">
                Current value: 0,80$<br/>
                Climb: 1.204,90%
            </div>
            <a href="#" class="btn btn-primary">View details</a>
            </div>
        </div>
    </div>

    
</div>